<ActionBar title="ui-neumorphiclayout" class="action-bar"> </ActionBar>
<StackLayout class="px-20 bg-neumorphic">
	<ScrollView class="h-full" width="100%">
		<StackLayout>
			<NeumorphicLayout width="220" height="100" marginTop="30" neumorphicColor="#e0e1e3" state="FLAT" stateUp="FLAT" stateDown="PRESSED" (touch)="demoShared.animateButtonTap($event)" cornerRadius="26">
          <Label text="FLAT" textAlignment="center" width="100%" fontSize="24" color="#6d707d" fontWeight="bold" top="35"></Label>
      </NeumorphicLayout>
      <NeumorphicLayout width="220" height="100" marginTop="30" neumorphicColor="#e0e1e3" state="PRESSED" stateUp="PRESSED" stateDown="FLAT" (touch)="demoShared.animateButtonTap($event)" cornerRadius="26">
          <Label text="PRESSED" textAlignment="center" width="100%" fontSize="24" color="#6d707d" fontWeight="bold" top="35"></Label>
      </NeumorphicLayout>
      <NeumorphicLayout width="220" height="100" marginTop="30" neumorphicColor="#e0e1e3" state="PRESSED_IN_OUT" stateUp="PRESSED_IN_OUT" (touch)="demoShared.animateButtonTap($event)" stateDown="FLAT" cornerRadius="26">
          <Label text="PRESSED_IN_OUT" textAlignment="center" width="100%" fontSize="24" color="#6d707d" fontWeight="bold" top="35"></Label>
      </NeumorphicLayout>
      <NeumorphicLayout width="220" height="100" marginTop="30" neumorphicColor="#e0e1e3" state="CONCAVE" stateUp="CONCAVE" stateDown="CONVEX" (touch)="demoShared.animateButtonTap($event)" cornerRadius="26">
          <Label text="CONCAVE" textAlignment="center" width="100%" fontSize="24" color="#6d707d" fontWeight="bold" top="35"></Label>
      </NeumorphicLayout>
      <NeumorphicLayout width="200" height="200" marginTop="30" marginBottom="30" neumorphicColor="#e0e1e3" state="CONVEX" stateUp="CONVEX" stateDown="CONCAVE" (touch)="demoShared.animateButtonTap($event)" cornerRadius="100">
          <Label text="CONVEX" textAlignment="center" width="100%" fontSize="24" color="#6d707d" fontWeight="bold" top="85"></Label>
      </NeumorphicLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>
