.neumorphism {
	border-radius: 26;
	dark-shadow-color: #bebfc1;
	background-color: #e0e1e3;
	height: 110;
	light-shadow-color: #ffffff;
	margin-top: 30;
	width: 220;
}

.bg-neumorphic {
	background-color: #e0e1e3;
}